.NotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff6060;
  flex: 1;

  .error404 {
    font-style: normal;
    font-weight: 700;
    font-size: 15em;
    margin: 0;
  }

  .errorText {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    h2 {
      font-size: 1.5em;
      font-style: normal;
      font-weight: 500;
      flex: 1;
    }
    h3 {
      display: flex;
      justify-content: center;
      font-style: normal;
      font-weight: 500;
      font-size: 1em;
    }
  }
}
